.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
   
}

.individual-product {
    width: 25%;
    text-align: center;
    

}

.individual-product img {
    width: 90%;
    border-radius: 20px;
    height: 300px;
    padding: 10px;
    cursor: pointer;
  
}

@media screen and (max-width:768px) {
    .product-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .individual-product {
        text-align: center;
        padding: 10px;
        min-width: 80%;
    
    }
    .individual-product img {
        width: 90%;
        border-radius: 20px;
        
      
    }
    
}
@media screen and (max-width:400px){
    .individual-product {
       
        min-width: 90%;
    
    }
} 
@media screen and (max-width:280px){
.individual-product{
    min-width: 90%; 
    
}
}
